Host imac
  Hostname 192.168.1.100
  User roman

Host mb
  Hostname 192.168.1.102
  User roman

Host dev
  Hostname 192.168.1.105
  User roman

Host gce-free
  Hostname 35.195.92.187
  User roman

Host cullimac
  Hostname 90.71.116.3
  Port 2222
  User roman

Host culldev
  # Hostname 90.71.116.3
  Hostname 90.171.117.137
  Port 2223
  User roman

Host ngrokdev
  Hostname 0.tcp.eu.ngrok.io
  Port 13924
  User roman
